{{ partial "header.html" . }}

{{ $pageTitle := .Title | lower }}

{{ $pageTitle := replace $pageTitle " " "-" }}

{{ range $name, $taxonomy := .Site.Taxonomies.tags }}
	{{ if eq $name $pageTitle }}
    	<h3 style="text-transform: capitalize" id="{{ $name | urlize }}">{{ $name }}</h3>
    		{{ range $taxonomy }}  	
	      		<h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
	      		<p>{{ .Description }}</p>
        	{{ end }}
	{{ end }}
{{ end }}
{{ partial "footer.html" . }}
